@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
<div>
    <li> <img src="~/Content/Images/trippy_gif_3_by_ashleyprincess201454-d78w8ju (1).gif" /></li>
</div>
</div>
     </div>
 
    <div style="text-align:center">

<div class ="AboutMe test">
    
    <h1><a href="@Url.Action("Index", "About")"> About Me</a></h1>
      
        <p style ="text-align:center; color:darkviolet;"> Click Here To Learn More About My </p>
        <p style ="text-align:center; color:darkviolet;"> Education And Work Experience </p>
    
</div>

<div class ="MyWork test">
    <h1> <a href="@Url.Action("Index", "Work")"> My Work</a></h1>
    
        <p style ="text-align:center; color:darkviolet;"> Click Here For Some Examples Of  </p>
        <p style ="text-align:center; color:darkviolet;"> In Class Projects </p>
    
</div>

<div class ="Contacts test">
    <h1><a href="@Url.Action("Index", "Contact")">Contact Me</a></h1>
    
        <p style ="text-align:center; color:darkviolet;"> Click Here To Get In Contact </p>
        <p style ="text-align:center; color:darkviolet;"> With Me Via Email </p>
    
</div>

       
    </div>