

<div class ="work">
    <div class ="image active">
        <img src ="http://i.imgur.com/2PCulh2.png" />
    </div>
    <div class ="image hide">
        <img src ="http://i.imgur.com/yU5zuaO.png" />
    </div>
    <div class ="image hide">
        <img src ="http://i.imgur.com/jiN5ucz.png" />
    </div>
<div class="image-next">
    Next
</div>
<a href="@Url.Action("Index", "Poker")">
    Poker
</a>
    </div>