<div class="work">
    <div class ="image1 active">
        <img src ="http://i.imgur.com/tjX9djN.png" />
    </div>
<div class ="image1 hide">
        <img src ="http://i.imgur.com/FlY5yCS.png" />
    </div>
     <div class ="image1 hide">
        <img src ="http://i.imgur.com/gxsn9q5.jpg" />
    </div>
<div class="image1-next">
    Next
</div>
<a href="@Url.Action("Index", "GuessThatNumber")">
    Guess That Number
</a>
    </div>