<div class="work">
    <div class ="image2 active">
        <img src ="http://i.imgur.com/ZBclw1D.png" />
    </div>
<div class ="image2 hide">
        <img src ="http://i.imgur.com/ZTWntX0.png" />
    </div>
    <div class ="image2 hide">
        <img src ="
            http://i.imgur.com/sSbVRC5.png" />
    </div>
<div class="image2-next">
    Next
</div>
    <a href="@Url.Action("Index", "Hangman")">
    Hangman
</a>
   </div>
